.footer {
  background-color: var(--english-violet);
  color: var(--light-slate-grey);
  border-top: 2px solid #918a8a;

  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 3rem;
  width: 100vw;
}
.footer p {
  background-color: var(--english-violet);
}
