.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.8vw;
  margin: 0;
  height: 10vh;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: var(--english-violet);
}

.logo-container {
  background-color: var(--english-violet);
}
.logo-container h1 {
  background: linear-gradient(
    0.25turn,
    var(--light-slate-grey),
    var(--maize-crayola),
    50%,
    var(--tart-orange) 80%
  );
  background-clip: text;
  color: transparent;
}

.nav-bar ul {
  display: flex;
  list-style-type: none;
}
.nav-bar ul li {
  position: relative;
  padding: 0.2rem 0.1rem 0.2rem 0.1rem;
  margin: 0.5rem;
  color: var(--tart-orange);

  font-weight: 900;
}

.nav-bar ul li ::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 5%;
  height: 2px;
  background-color: transparent;
  transition: all 0.5s ease-in;
}
.nav-bar ul li:hover ::before {
  background-color: var(--tart-orange);
  transform: scaleX(18);
  left: 47%;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
